<h3>Adding New Article</h3>

<div class="warn">
    <% if @article.errors.any? %>
        <h2 class="panel-title">
            <%= pluralize(@article.errors.count, "error") %>
            prohibited this article from being saved: </h2>
        <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<%= form_for(@article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', autofocus: true %><p>
    <%= f.label :body %><p>
    <%= f.text_area :body, rows: 10, cols: 70, class: 'form-control' %><p>
    <%= f.submit %>
<% end %> 
