<h3>Adding New Article</h3>
<p><%= @article.inspect %></p>
<% if @article.errors.any? %>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<%= form_for(@article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', autofocus: true %>
    <p>
    <%= f.label :body %>
    <p>
    <%= f.text_area :body, rows: 10, cols: 100, class: 'form-control' %>
    <p>
    <%= f.submit %>
<% end %> 
