<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="margin:1em">
      <%= link_to "💒 Home", root_path %> |
      <%= link_to "Article", articles_path %> |
      <%= link_to "Post", posts_path %>
    </div>
    <%= render 'shared/flashes' %> 
    <%= yield %>
  </body>
</html>
